<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Keluarga</title>
	</head>
	<body>
		<h3 th:text="'NKK: ' + ${keluarga.nomor_kk}"></h3>
		<h3 th:text="'Alamat = ' + ${keluarga.alamat}">Alamat Keluarga</h3>
      	<h3 th:text="'RT/RW = ' + ${keluarga.rt} + '/' + ${keluarga.rw}"> RT</h3>
      	<h3 th:text="'Kelurahan/Desa = ' + ${kelurahan.nama_kelurahan}">Penduduk Nama</h3>
      	<h3 th:text="'Kecamatan = ' + ${kecamatan.nama_kecamatan}">Penduduk Nama</h3>
      	<h3 th:text="'Kota = ' + ${kota.nama_kota}">Penduduk Nama</h3>
      	
      	<table>
      		<thead>
	      		<tr>
	      			<td>No.</td>
	      			<td>Nama Lengkap</td>
	      			<td>NIK</td>
	      			<td>Jenis Kelamin</td>
	      			<td>Tempat Lahir</td>
	      			<td>Tanggal Lahir</td>
	      			<td>Agama</td>
	      			<td>Pekerjaan</td>	
	      			<td>Status Perkawinan</td>
	      			<td>Status dalam Keluarga</td>
	      			<td>Kewarganegaraan</td>
	      		</tr>
      		</thead>
      		<tbody th:each="penduduk, iterationStatus: ${anggotaKeluarga}">
      			<tr>
      				<td th:text="${iterationStatus.count}"></td>
      				<td th:text="${penduduk.nama}"></td>
      				<td th:text="${penduduk.nik}"></td>
      				<td th:text="${penduduk.jenis_kelamin == 0} ? 'Pria' : 'Wanita'"></td>
      				<td th:text="${penduduk.tempat_lahir}"></td>
      				<td th:text="${penduduk.tanggal_lahir}"></td>
      				<td th:text="${penduduk.agama}"></td>
      				<td th:text="${penduduk.pekerjaan}"></td>
      				<td th:text="${penduduk.status_perkawinan}"></td>
      				<td th:text="${penduduk.status_dalam_keluarga}"></td>
      				<td th:text="${penduduk.is_wni == 1} ? 'WNI' : 'WNA'"></td>
      			</tr>
      			
      		</tbody>
      	</table>
	</body>
</html>