<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Penduduk</title>
    </head>
    <body>
       	<h3 th:text="'NIK = ' + ${penduduk.nik}">Penduduk NIK</h3>
       	<h3 th:text="'Nama = ' + ${penduduk.nama}">Penduduk Nama</h3>
       	<h3 th:text="'Tempat/ Tanggal Lahir = ' + ${penduduk.tempat_lahir} + ', ' + ${penduduk.tanggal_lahir}">Penduduk TTL</h3>
      	<h3 th:text="'Alamat = ' + ${keluarga.alamat}">Alamat Keluarga</h3>
      	<h3 th:text="'RT/RW = ' + ${keluarga.rt} + '/' + ${keluarga.rw}"> RT</h3>
      	<h3 th:text="'Kelurahan/Desa = ' + ${kelurahan.nama_kelurahan}">Penduduk Nama</h3>
      	<h3 th:text="'Kecamatan = ' + ${kecamatan.nama_kecamatan}">Penduduk Nama</h3>
      	<h3 th:text="'Kota = ' + ${kota.nama_kota}">Penduduk Nama</h3>
      	<h3 th:text="'Golongan Darah = ' + ${penduduk.golongan_darah}">Penduduk Nama</h3>
      	<h3 th:text="'Agama = ' + ${penduduk.agama}">Penduduk Nama</h3>
      	<h3 th:text="'Status Perkawinan = ' + ${penduduk.status_perkawinan}">Penduduk Nama</h3>
      	<h3 th:text="'Pekerjaan = ' + ${penduduk.pekerjaan}">Penduduk Nama</h3>
      	<h3 th:text="'Kewarganegaraan = ' + ${is_wni}">Penduduk Nama</h3>
      	<h3 th:text="'Status Kematian = ' + ${status_mati}">Penduduk Nama</h3>
    </body>
</html>

